* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: roboto, sans-serif;
  font-weight: 500;
  height: 60px;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px; }
  .header__logo {
    height: 40px;
    vertical-align: middle; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  list-style: none;
  margin-left: 20px; }

.nav__link {
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 60px; }
  .nav__link--is-active {
    position: relative;
    color: #00acdc; }
    .nav__link--is-active::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      border-radius: 8px;
      background: #00acdc; }
  .nav__link:hover {
    color: #00acdc; }

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-row-gap: 50px;
  grid-column-gap: 48px;
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

@media screen and (max-width: 999px) {
  .catalog {
    grid-template-columns: repeat(3, 200px); } }

@media (max-width: 700px) {
  .catalog {
    grid-template-columns: repeat(2, 200px); } }

@media (max-width: 475px) {
  .catalog {
    grid-template-columns: repeat(1, 200px); } }

.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: roboto, sans-serif;
  width: 200px;
  background: #fff;
  padding: 14px; }
  .card__image {
    -ms-flex-item-align: center;
        align-self: center;
    width: 160px;
    height: 134px;
    margin: 16px 5px 0; }
  .card__name {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 41px; }
  .card__id {
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px; }
  .card .card__reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 14px; }
    .card .card__reviews .stars {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .card .card__reviews .stars__star {
        background: url("../images/star.svg") no-repeat 15px;
        background-position: center;
        height: 15px;
        width: 15px;
        margin-right: 4px; }
    .card .card__reviews_text {
      font-size: 11px;
      line-height: 13px;
      -ms-flex-item-align: center;
          align-self: center; }
  .card .price-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px; }
    .card .price-box__name {
      font-size: 11px;
      line-height: 13px; }
    .card .price-box__price {
      font-size: 16px;
      font-weight: bold;
      line-height: 19px; }
  .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
  .card__button {
    border: 1px solid #00acdc;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: #00acdc;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase; }
    .card__button:hover {
      border: 1px solid #00acdc;
      background: #fff;
      color: #00acdc; }

.stars--1 .stars__star:nth-child(-n+1) {
  background-image: url("../images/star-active.svg"); }

.stars--2 .stars__star:nth-child(-n+2) {
  background-image: url("../images/star-active.svg"); }

.stars--3 .stars__star:nth-child(-n+3) {
  background-image: url("../images/star-active.svg"); }

.stars--4 .stars__star:nth-child(-n+4) {
  background-image: url("../images/star-active.svg"); }

/*# sourceMappingURL=main.css.map */
